*{
    box-sizing: border-box;
}
@media screen and (max-width:600px){
    section.half, section.third{
        float: none;
        width: auto;
    }
    header{
        max-height: 15%;
    }
}


@media screen and (min-width: 601px) and (max-width: 900px){
    section.third{
        width: 100%;
        float: left;
    }
}

header, footer{
    height: 100px;
    border: 2px solid grey;
    clear: both;
}
.third{
    border: 2px solid grey;
    height: 150px;
    width: 33.3333%;
    float: left;
}
.half{
    float: left;
    height: 250px;
    width: 50%;
    border: 2px solid grey;
}
img{
    max-height: 100%;
}
img{
    display: none;
}