/*78cee9 blue
00cb4a green*/
body {
    background: #78cee9;
    text-align: center;
    color: white;
    border: 5px solid #00cb4a;
}
h1 {
    font-style: italic;
}
section {
    text-align: left;
    font-size: 25px;
    margin: 3%;
}
ul {
    list-style-type: none;
    font-family: sans-serif;
    font-weight: bold;
}
h2 {
    font-family: sans-serif;
    font-weight: bold;
}
li {
    display: inline;
    margin: 5px;
    border-right: 2px solid grey;
    padding-right: 1%;
}
li:last-child{
    border-right: none;
}
img {
    float: right;
    max-width: 15%;
    max-height: 15%;
}
a {
    text-decoration: underline #00cb4a;
    color: #00cb4a;
}
@-o-viewport {
	width: device-width;
}