/*100, 150, 250*/
*{
    box-sizing: border-box;
}
header, footer{
    clear: both;
    height: 100px;
    border: 1px solid grey;
}
.large{
    float: left;
    height: 400px;
    width: 40%;
    border: 1px solid grey
}
.thin{
    height: 400px;
    width: 20%;
    border: 1px solid grey;
    float: left;
}