/* Please Make only Rhino and Zebra Blue - Use IDs intead of what i did*/

/* Please Make only Hufflepuff Gold - Use the ID instead of what i did*/

/* Please select Duck with the highest level of specificity possible */

/* Please select Rhino with the highest level of specificity possible */
    #rhino, #zebra{
        color: blue;
    }
    .harryPotter{
        color: gold;
    }
  html > body > h1#hi + section.top + section.middle + article.areDucksDinosaurs > h2.likesToQuack.fight1Or100{
        color: greenyellow;
    }

 #rhino {
        color: blueviolet !important;
    }
    /*<body>
		<h1 id="hi">Hello</h1>
		<section class="top">
			<h2 id="rhino" class="africa fourLegs">Rhino</h2>
			<h2 id="zebra" class="africa fourLegs">Zebra</h2>
		</section>
		<section class="middle">
			<article>
				<h2 id="uni">Unicorn</h2>
				<h2 id="bestHouse" class="harryPotter triWizardChamp badger">Hufflepuff</h2>
			</article>
		</section>
		<article class="areDucksDinosaurs">
			<h2 class="likesToQuack fight1Or100">Duck</h2>
		</article>
	</body>
</html>*/

  